<div class="the-home-page-manager" aria-label="The home page content">
  <div class="the-home-page-hero" aria-label="The home page hero">
  </div>
  <div class="the-home-page-summary" aria-label="The home page summary">
    <h1> The perfect temperature, every time </h1>
    <p> Ember’s patented technology allows you to experience precision temperature control in your everyday life, with the vision to transform how the world eats, drinks, and lives, empowering you to experience your world without limits.</p>
  </div>
</div>
